/Helsinki-NLP-opus-mt-de-en
/Helsinki-NLP-opus-mt-en-de
/Helsinki-NLP-opus-mt-fr-de
/Helsinki-NLP-opus-mt-de-fr
/bin
/include
/lib
/share
.gitignore
pyvenv.cfg
main2.py
main3.py
translate.py
.DS_Store
translate.spec
utils.py
